<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/Carrito.css">
    <title>Carrito</title>    
</head>

<body>
    <nav>
        <div class="navegacion-Arriba">
            <div class="Logo-Marca">
                <h1> <b class="shopphone"> ShoPhone</b> <br>
                    La hacemos facil para vos </h1>
                <img src="" alt="">
            </div>
            <div class="Busqueda">
                <img src="" alt="">
                <p class="links-nav">Busqueda</p>
            </div>
            <div class="Redes-Sociales">
                <img src="./img/twitter-brands.svg" alt="">
                <img src="./img/instagram-brands.svg" alt="">
                <img src="./img/facebook-f-brands.svg" alt="">
            </div>
        </div>
        <div class="navegacion-Abajo">
            <div class="barra-Nav">
                <ul>
                    <li class="links-nav">Productos</li>
                    <li class="links-nav">Marcas</li>
                    <li class="links-nav">Comparativa</li>
                    <li class="links-nav">Sobre nosotros</li>
                </ul>
            </div>
            <div>
                <a href=""><img src="" alt=""></a>
                <a href=""><img src="" alt=""></a>
            </div>

        </div>
    </nav>
      
    <div>
        <h2 class="tit-carrito">Carrito de compras</h2>        
        <i class="fas fa-shopping-cart"></i>
        
    </div>
    </div>

    <div class="container pb-5 mb-2">   
        <div class="cart-item d-md-flex tarjeta"><span class="remove-item"><i class="fa fa-times"></i></span>
            <div class="px-3 my-3">
                <a class="cart-item-product" href="#">
                    <div class="cart-item-product-thumb"><img src="../img/descarga1.jpg" alt="Product"></div>
                    <div class="cart-item-product-info">
                        <h4 class="cart-item-product-title">Samsung Galaxy S10e</h4>
                        <span><strong>Color:</strong> Negro</span>
                    </div>
                </a>
            </div>
            <div class="px-3 my-3 text-center">
                <div class="cart-item-label">Cantidad</div>
                <div class="count-input">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                </div>
            </div>
            <div class="px-3 my-3 text-center">
                <div class="cart-item-label">Subtotal</div><span class="text-xl font-weight-medium">$910.00</span>
            </div>
        </div>
        <div class="cart-item d-md-flex tarjeta"><span class="remove-item"><i class="fa fa-times"></i></span>
            <div class="px-3 my-3">
                <a class="cart-item-product" href="#">
                    <div class="cart-item-product-thumb"><img src="../img/descarga1.jpg" alt="Product"></div>
                    <div class="cart-item-product-info">
                        <h4 class="cart-item-product-title">Samsung Galaxy S10e</h4>
                        <span><strong>Color:</strong> Negro</span>
                    </div>
                </a>
            </div>
            <div class="px-3 my-3 text-center">
                <div class="cart-item-label">Cantidad</div>
                <div class="count-input">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                </div>
            </div>
            <div class="px-3 my-3 text-center">
                <div class="cart-item-label">Subtotal</div><span class="text-xl font-weight-medium">$910.00</span>
            </div>
        </div>
        <div class="cart-item d-md-flex tarjeta"><span class="remove-item"><i class="fa fa-times"></i></span>
            <div class="px-3 my-3">
                <a class="cart-item-product" href="#">
                    <div class="cart-item-product-thumb"><img src="../img/descarga1.jpg" alt="Product"></div>
                    <div class="cart-item-product-info">
                        <h4 class="cart-item-product-title">Samsung Galaxy S10e</h4>
                        <span><strong>Color:</strong> Negro</span>
                    </div>
                </a>
            </div>
            <div class="px-3 my-3 text-center">
                <div class="cart-item-label">Cantidad</div>
                <div class="count-input">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                </div>
            </div>
            <div class="px-3 my-3 text-center">
                <div class="cart-item-label">Subtotal</div><span class="text-xl font-weight-medium">$910.00</span>
            </div>
        </div>

        <div class="row boton">
            <div class="col-sm-6 mb-3"><a class="btn btn-style-1 btn-dark btn-block" href="checkout-address.html"><i class="fe-icon-credit-card"></i>&nbsp;Continuar</a></div>
        </div>
        
    </div>
    <footer>
        <h1> <b class="shopphone"> ShoPhone</b> <br>
            La hacemos facil para vos </h1>

    </footer>

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
</html>