<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a0c0bb4f74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./stylesheets/navbar.css">
    <link rel="stylesheet" href="./stylesheets/carrito.css">
    <title>Mi Carrito</title>    
</head>

<body>
   
    <!-- Navbar -->

    <%- include('partials/navbar.ejs') %>
      
    <div>
        <h2 class="tit-carrito">Carrito de compras <i class="fas fa-shopping-cart fa-sm"></i></h2>        
    </div>

    <div class="container-fluid pb-5 mb-2">   
        <div class="row cart-item d-md-flex tarjeta">
            <div class=" col-xl-3 col-lg-3 col-md-6 px-3 my-3">
                <a class="cart-item-product" href="#">
                        <img src="./images/descarga1.jpg" alt="Product">
                    </a>
            </div>
            <div class=" col-xl-3 col-lg-4 col-md-3 px-3 my-3">
                <a class="cart-item-product nombres" href="#"><h4 class="cart-item-product-title">Samsung Galaxy S10e</h4></a>
                    <span><strong>Color:</strong> Negro</span>
            </div>
            <div class=" col-xl-1 col-lg-1 col-md-4 col-sm-4 col-4 my-3 text-center">
                <div class="cart-item-label">Cantidad</div>
                    <div class="count-input">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
            </div>
            <div class="col-lg-2 col-md-2 px-3 my-3 text-center">
                <div class="cart-item-label">Subtotal</div>
                <span class="text-xl font-weight-medium">$910.00</span>
            </div>
            <div class="col-lg-2 col-md-2 px-3 my-3 text-center">
                <button type="button" class="btn btn-dark eliminar">X</button>
            </div>
        </div>
    </div>
    <div class="container-fluid pb-5 mb-2">   
        <div class="row cart-item d-md-flex tarjeta">
            <div class=" col-xl-3 col-lg-3 col-md-6 px-3 my-3">
                <a class="cart-item-product" href="#">
                        <img src="./images/descarga1.jpg" alt="Product">
                    </a>
            </div>
            <div class=" col-xl-3 col-lg-4 col-md-3 px-3 my-3">
                <a class="cart-item-product nombres" href="#"><h4 class="cart-item-product-title">Samsung Galaxy S10e</h4></a>
                    <span><strong>Color:</strong> Negro</span>
            </div>
            <div class=" col-xl-1 col-lg-1 col-md-4 col-sm-4 col-4 my-3 text-center">
                <div class="cart-item-label">Cantidad</div>
                    <div class="count-input">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
            </div>
            <div class="col-lg-2 col-md-2 px-3 my-3 text-center">
                <div class="cart-item-label">Subtotal</div>
                <span class="text-xl font-weight-medium">$910.00</span>
            </div>
            <div class="col-lg-2 col-md-2 px-3 my-3 text-center">
                <button type="button" class="btn btn-dark eliminar">X</button>
            </div>
        </div>
    </div>
    <div class="container-fluid pb-5 mb-2">   
        <div class="row cart-item d-md-flex tarjeta">
            <div class=" col-xl-3 col-lg-3 col-md-6 px-3 my-3">
                <a class="cart-item-product" href="#">
                        <img src="./images/descarga1.jpg" alt="Product">
                    </a>
            </div>
            <div class=" col-xl-3 col-lg-4 col-md-3 px-3 my-3">
                <a class="cart-item-product nombres" href="#"><h4 class="cart-item-product-title">Samsung Galaxy S10e</h4></a>
                    <span><strong>Color:</strong> Negro</span>
            </div>
            <div class=" col-xl-1 col-lg-1 col-md-4 col-sm-4 col-4 my-3 text-center">
                <div class="cart-item-label">Cantidad</div>
                    <div class="count-input">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
            </div>
            <div class="col-lg-2 col-md-2 px-3 my-3 text-center">
                <div class="cart-item-label">Subtotal</div>
                <span class="text-xl font-weight-medium">$910.00</span>
            </div>
            <div class="col-lg-2 col-md-2 px-3 my-3 text-center">
                <button type="button" class="btn btn-dark eliminar">X</button>
            </div>
        </div>
    </div>

    <div class="row boton mr-2 mb-3">
        <div class="col-sm-6 col-mb-3 col-lg-2">
            <a class="btn btn-style-1 btn-dark btn-block btn-final" href="checkout-address.html"><i class="fe-icon-credit-card"></i>&nbsp;Seguir comprando</a>
            <a class="btn btn-style-1 btn-dark btn-block btn-final" href="checkout-address.html"><i class="fe-icon-credit-card"></i>&nbsp;Finalizar compra</a>
        </div>
    </div>

    <!-- Navbar -->

    <%- include('partials/footer.ejs') %>
        
    

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
</html>