<!DOCTYPE html>
<html lang="en">

<head>
   
   <%- include ('partials/head', {title : "Nuevo Producto"})  %> 

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/nuevoProducto.css"> 

  </head>

<body>
    
    <div class="container-fluid arriba">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <a class="logo" href="#">ShoPhone</a>
        </nav>
      </div>
     
      <div class="titulo mostrar">
       <h1>Vende tu celular ya!</h1> <i class="fas fa-hand-holding-usd fa-3x padding mostrar"></i> <i class="far fa-smile-wink  fa-3x padding"></i>
    </div>
     
      <main class="centrado conteirner-fluid">

        <form class="" action="validar.php" method="POST">

         <div class="subtitulos">
            <h2>Que equipo es?</h2> <i class="fas fa-mobile-alt fa-2x superalign mostrar"></i>
         </div>

          <div class="padding padding2"><ul> 
            
         <li> <h3>Marca</h3>
          <select class="cajas" name="marca" id="">
            <option value="">Motorola</option>
            <option value="">Asus</option>
            <option value="">Nokia</option>
            <option value="">as</option>
            <option value="">s</option>
            <option value="">s</option>
            <option value="">s</option>
          </select>
        </li>
    
           </div>
    

           <div class="padding padding2"> 
    
        <li>  <h3>Modelo</h3>

          <select class="cajas" name="modelo" id="">
            <option value="">V3</option>
            <option value="">rAZR</option>
            <option value="">Nokia</option>
            <option value="">as</option>
            <option value="">s</option>
            <option value="">s</option>
            <option value="">s</option>
          </select>
        </li>

          </div>

             
  <div class="padding estado">
    <h3>En que estado esta?</h3>
      <input type="radio" name="Estado" value="">Usado
      <input type="radio" name="Estado" value="">Nuevo
</div>




<div class="subborder">

       <div class="subtitulos">
         <h2>Datos de la publicacion</h2> <i class="fas fa-info fa-2x superalign mostrar"></i>
       </div>
    
    <div class="padding padding2"> 
        <li> 
      <label  for="tituloProducto"> <h3>Titulo de la Publicacion</h3></label>
      <input class="cajas" type="text" name="tituloProducto" id="tituloProducto" maxlength="120" >

       </li>
    </div>

    <div class="padding padding2 "> 
        <li>
        
       <!--- <label for="precio"><h2>Precio</h2></label>
        <input class="cajas" type="text" name="precio" id="precio">
        <form>-->
            <form class="needs-validation padding" novalidate>

              <h3>Precio</h3>

               <button type="button" class="btn btn-outline-dark ">Pesos</button>

               <button type="button" class="btn btn-outline-dark ">Dolares</button>

              <div class="form-row">
        
                  <div class="col-md-4 mb-3">
                    <label for="validationCustomUsername"></label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">$</span>
                      </div>
                      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                      <div class="invalid-feedback">
                        Please choose a username.
                      </div>
                    </div>
                  </div>
                </div>
              
              </form>
              
              <!---<script>
              // Example starter JavaScript for disabling form submissions if there are invalid fields
              (function() {
                'use strict';
                window.addEventListener('load', function() {
                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.getElementsByClassName('needs-validation');
                  // Loop over them and prevent submission
                  var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                      if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                      }
                      form.classList.add('was-validated');
                    }, false);
                  });
                }, false);
              })();
              </script> --->
    
    </li>
    </div>

    <div class="padding padding2" >
      <h3> % Por cambio de Equipo</h3>
              
              <select name="porcambio" id="">Marca
                  <option value="">ninguno</option>
                  <option value="">%5</option>
                  <option value="">%10</option>
                  <option value="">%15</option>
                  <option value="">s</option>
                  <option value="">s</option>
                  <option value="">s</option>
      
      
              </select>
      </div>
      

    <div class="padding padding2">

      <li>

        
        <h3>Numero de contacto</h3>

        <form class="needs-validation" novalidate>

          <div class="form-row">
    
              <div class="col-md-4">
                <label for=""></label>
                
                <input type="text" class="cajas" id="" value="" placeholder=" 011-12345678 "  required pattern="\d{3}-\d{8}" maxlength="14">
                      <div class="valid-feedback">
                         Correcto!
                       </div>
                       <div class="invalid-feedback">
                           Por favor pone tu numero agregando codigo de area (011).
                         </div> 
       
              </div>
            </div>
          
          </form>
          
          <!---<script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
          </script> --->

     </li>

    </div>

  </div>
  
<div class="subborder">

<div class="subtitulos">
  <h2>Subi fotos y describi tu celular!</h2> <i class="fas fa-camera fa-2x superalign mostrar"></i>
</div>
    
<div class="padding2 padding">

        <li>
        
        <h3>Descripcion</h3>
        
        
        <textarea name="descripcionProducto" id="" >Describi tu producto</textarea>
    </li>
    </div>
    
    <div class="padding2 padding"> 

      <h3>Cargar Fotos</h3>
      <li>
        <form>
    <div class="form-group">
      <label for="exampleFormControlFile1"> </label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
      <div>
       <!-- <button type="button" class="btn btn-outline-dark foto"><i class="fas fa-images fa-2x"></i> </button> -->

      </div> 
    </div>
  </form>
    </li>
    </div>

  </div>

     <div class="subborder">

      <div  class="subtitulos">
        <h2>Donde estas?</h2> <i class="fas fa-map-marker-alt fa-2x superalign"></i>
      </div>


           
   <div class="padding2 padding "> 
    <li>

    <h3>Tu ubicacion*</h3>

    <button type="button" class="btn btn-outline-dark ubibotones ">Mapa</button>


    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13144.619950736755!2d-58.44866435659178!3d-34.54963101404289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1589048362891!5m2!1ses!2sar" width="70%" height="50%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

   
    <button type="button" class="btn btn-outline-dark ubibotones">Lista</button>


        <select name="ubicacion" id="">Zona
            <option value="">C.A.B.A</option>
            <option value="">Zona Norte</option>
            <option value="">Zona Sur</option>
            <option value="">Zona Oeste</option>
        </select>
        
         <select class="oculto" name="ubicacion" id="">Barrio
                <option value="">Belgrano</option>
                <option value="">Villa Urquiza</option>
                <option value="">Saavedra</option>
                <option value="">Colegiales</option>
        </select>

         <select class="oculto" name="ubicacion" id="">Localidad1
                    <option value="">Olivos</option>
                    <option value="">Tigre</option>
                    <option value="">Vicente Lopez</option>
                    <option value="">Martinez</option>
         </select>

  
        <select  class="oculto" sname="ubicacion" id="">Localidad2
                    <option value="">Quilmes</option>
                    <option value="">aa</option>
                    <option value="">Vz</option>
                    <option value="">aas</option> 
                    
                </select>
        
        
       <select class="oculto" name="ubicacion" id="">Localidad3
                    <option value="">San Martin</option>
                    <option value="">22</option>
                    <option value="">a</option>
                     <option value="">s</option>



        </select>

      </div>

    </li>

    </div>
    
</ul>
    </form>

  <div class="finalboton">      
<button type="button" class="btn fondoBoton btn-lg">Publicar!</button>
<button type="button" class="btn btn-secondary btn-lg">Guardar </button>
</div>
</main>

<%- include ('partials/footer.ejs') %> 
</body>
</html>