body{
    background-color: #e6dfdf;
}

h1 {
    margin-top: 15px;
}

nav{
    background-color: #71D3D5  ;   
}

.tit-carrito{
    margin: 30px 20px;

}

.links-nav{
    margin-top: 10px;
    padding-left: 6px;
}
.navegacion-Arriba{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Logo-Marca{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #7F52BD;
    flex-grow: 1;
    border-radius: 0 0 15px 0;
}



.Busqueda{
    width: 30%;
    background-color: #71D3D5  ;
    border-radius: 0 0 15px 15px;
}
.Busqueda p {
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 25px;
    border-radius: 7px 7px 7px 7px;
    background-color: #7F52BD;
}
.Redes-Sociales{
    width: 20%;
    justify-self: center;
    border-radius: 0 0 0 15px;
    
}

.navegacion-Arriba img{
    width: 40px;

}

.Redes-Sociales{
    display: flex;
    flex-wrap: wrap;
    background-color: #7F52BD;
    flex-direction: row-reverse;
}

.Redes-Sociales img{
    width: 19px;
    padding: 15px;
    
}
.navegacion-Abajo{
    height: 30px;

}

.barra-Nav{
    display: flex;
    flex-wrap: wrap;
    background-color: #71D3D5 ;
    border-radius: 0 0 15px 15px;
}
.barra-Nav ul{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    list-style:none;
    
}
.barra-Nav ul li{
    width: 20%;
    border: #7F52BD solid 1px;
    background-color:#7F52BD ;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
    font-style: normal;
    
}

.shopphone{
    font-size: 58px;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 18px;
    background-color: #71D3D5 ;
    border-radius: 10px 10px 10px 10px;
}
footer{
    border-top: 4px ;
    background-color: #7F52BD ;
    border-top: 4px solid #71D3D5 ;
}

h4{
    width: 60%;
    display: flex;
    flex-direction: row;
}


.btn:hover{
    background-color: #7F52BD;
    color: white;
    border: #71D3D5 solid 1px;
}

.boton{
    display: flex;
    justify-content: flex-end;
}

.Logo-Marca h1 {
    margin-left: 25px;
}

.tarjeta{
    display: flex;
    justify-content: space-evenly;
    border-bottom: lightgray solid 1px;
}

.eliminar{
    border-radius: 50%;
}

.eliminar:hover{
    background-color: red;
    color: white;
    border-color: red;
    border-radius: 50%;
}