*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.centrado{
    width: 70%;
    margin:0 auto;
    border: 1px solid rgb(215, 224, 248);
    margin-bottom: 2%;
}


.arriba{
    position: sticky;
    top: 0px;
    padding: 0;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 10px;
}

.titulo{ 
    padding: 3% 5%;
    display: flex;
    justify-content: center;
    font-weight: 600    ;

}

.subtitulos{
    padding: 1% 2%;

}

.cajas{
    display: flex;
    align-content: space-around;
    height: 35px;
    width: 70%;


}

h3{
    font-size: 18px;

}

.padding{
    padding-left: 3%;
}

.porc{
    width: 150px;
    height: 50px;
    float: right;
    overflow: hidden;
    border: solid 1px black;
    
}

.estado{
    padding-bottom: 2%;

}


.padding2{
    padding-bottom: 3%;
}

.oculto{
    display: none;
}


.botones{
    display: block;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

.shopphone{
    font-size: 58px;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 18px;
    background-color: #71D3D5 ;
    border-radius: 10px 10px 10px 10px;
}

footer{
    border-top: 4px ;
    background-color: #7F52BD ;
    border-top: 4px solid #71D3D5 ;
}


.buttonLocation{
    display: flex;
    flex-wrap: wrap;
   
}

.subborder{
    border-top: 1px black solid;
    margin: 0;

}

h2{
    padding: 5px;
}

.foto{
  
    height:70px;
    width: 70px;
}

.ubibotones{
    display: flex;
    margin: 2% 0;
}

.finalboton{
    display: flex;
    justify-content: space-evenly;
    margin: 3% 0;    
}

.pie{
    display: flex;
    align-content: center;

}

.descripcion{
    width: 20%;
    height: 30%;
}